version: 2
updates:
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: monthly
      time: '13:00'
    pull-request-branch-name:
      separator: "-"
    open-pull-requests-limit: 10
    reviewers:
      - RasaHQ/atom-squad
    labels:
      - type:dependencies
  - package-ecosystem: npm
    directory: "/docs"
    schedule:
      interval: monthly
      time: '13:00'
    pull-request-branch-name:
      separator: "-"
    open-pull-requests-limit: 10
    reviewers:
      - RasaHQ/atom-squad
    labels:
      - type:dependencies
