version: 2
updates:
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: monthly
      time: '13:00'
    pull-request-branch-name:
      separator: "-"
    open-pull-requests-limit: 10
    reviewers:
      - RasaHQ/enable-squad
    labels:
      - type:dependencies
  - package-ecosystem: npm
    directory: "/docs"
    schedule:
      interval: monthly
      time: '13:00'
    pull-request-branch-name:
      separator: "-"
    # currently disabled because we cannot update the docs theme and its dependencies
    open-pull-requests-limit: 0
    reviewers:
      - RasaHQ/enable-squad
    labels:
      - type:dependencies
